<!DOCTYPE html>
<html lang="en"
>
<head>
    <title>products</title>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div>
    <div class="col-12">
        <h3 class="text-center">Add a product</h3>
        <hr>
        <div class="col-6">
            <form action="/addP" method="Post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Product name</label>
                    <input type="text" name="pname" id="name" class="form-control">
                    <label for="price">Product price</label>
                    <input type="number" name="price" id="price" class="form-control">
                    <label for="desc">Product description</label>
                    <input type="text" name="desc" id="desc" class="form-control"><br>
                    <div class="custom-file">
                        <label>Add an image</label>
                        <input type="file" name="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <br><br>
                    <button type="submit" class="btn btn-primary">submit</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/jquery-3.1.1.min.js"></script>
</body>
</html>